pytorch_lightning==1.9.5
einops
open-clip-torch
omegaconf
torch==2.1.0
torchmetrics==1.4.0.post0
torchvision==0.16.0
triton
opencv-python-headless
scipy
matplotlib
lpips
gradio
chardet
transformers
facexlib
